/*DOCUMENT INFORMATION
-DOCUMENT:saveur au ker pei
*/
/* global
        page 1                               page2
                                            

- titre:  o'delice du pei                plat cuisin
-presentation                             nos  carry 
                                          charchutruie 
- nos specialité culinaire                 epice 
            suite page 2 ===>              boisson
                                         
 -livraison et abannoment                   
  -nous contacté

   
  page1*/
/* document information
  -document: o'delice du peï
  -version:1.0.0
  - auteur: micka
*/
/*colors
 -defaut body texte #eee
 -h1 :# black
 -h2 :#black
 -h3
 h4
  
 icon: #chocolat
 
 -button
 -button hover


 */

/*FONTS
  - default:
  -subtitle
  */

/* CSS DIRECTORY
   1.Global
   2.header
   3.presentation
   4 top vente
   5 avis client


   */


/* Global
   ===============================*/
html {
    color: #ffffff;
    
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    letter-spacing: 1 px;
    font-weight: 300;
    word-spacing: 8px;

}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;



}

h2:after {
    display: block;
    height: 2px;
    background-color: chocolate;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
}

h3,
h4 {
    text-align: center;
    padding-bottom: 15px;
 border-bottom: 1px grey solid/;

}

/*header
  ==================*/

nav {
    border-radius: 10px;
    background-color: chocolate;

}

header {
    background-image: url(../ressource/image/home.jpg.jpg);
    height: 100vh;
    background-position: center;
    background-size:cover;
}

    


.home-title {
    position: relative;
    top:70%;

}

.home-title h1 {
    font-family: "syne tactile", sans-serif;
    font-size: 340%;
    
    


}

/*presentation
===================*/

img {
    width: 300px;
    height: 178px;
    border-radius: 10px;

}

.details {
    padding: 40px 30px;
    border-radius: 20px;
    border: 2px black solid;
    width: 450;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10Px;
}

details img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.details p {
    padding-top: 10px;
    color: teal;
}

/* btn
==========*/
.btn-details {
    text-align: center;

}

.btn {
    background-color: chocolate;
    display: inline-block;
    padding: 10px, 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
    margin-bottom: 20px;
}

.btn:hover {
    background: maroon;
    color: azure;
}

/* carrousele
=================*/
.w-100 {
    height: 500px;
}

.top-vente {
    background: chocolate;
    margin-top: 30px;
}

.top-title {
    color: azure;
}

.top-liste.list-group-itemt {
    text-align: center;
}

/*client
===================*/
.client {
    margin-top: 30px;
}

cite img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 10px;

}

/*contact
====================*/
.contact-titre {
    margin-top: 30px;
}

.contact-message {
    width: 100%;
}

.form-select {
    position: relative;
    left: 20px;
}

select {
    margin: 20px;
}

.contact-form label {
    margin-top: 10px;
    display: block;
}

.maps {
    margin-top: 30px;
}

label {
    display: inline-block;
}

.btn-details-2 {
    text-align: end;
}

/* footer
===============*/

footer {
    background-color: chocolate;
    margin-top: 10px;

}

.logo {
    width: 50px;
    height: 50px;
}

.move-logo {
    padding: 20px;
    word-spacing: 10px;
}

.reseau .move-logo {
    text-align: center;

}

.copyright {
    text-align: center;

}

.copyright a {
    color: black;
}


/* PAGE 2 boutique
============================

    produit  locaux
 =============================*/
.locaux {
    border: 1px black solid
}

details .img-2 {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.img-2 {
    width: 200px;
    height: 178px;
    border-radius: 10px;
}

/* plat chaud
======================*/
.plat-chaud {
    margin-top: 30px;

}

.plat-chaud h3 {
    margin-bottom: 15px;
}

.number {
    width: 10%;
}
/*produit page3
===================*/
.produit-plus{
    margin-top: 5px;
}
.produit-plus:hover .icon {
    color:green;
    transform: translateX(40px);
    transition: 2s;
}

/* page4 bon de commande 
===========================*/
.img-3{
    width: 600px;
    height: 400px;

}
.ingrediant{
     text-align:justify;
}
label{
    padding-left: 5px;
}
 .btn-2{
      text-align: center;
      margin-top: 10px;
 }
 .title-livraison{
     padding-left: 10Px;
     margin-top: 20px;
 }
.logo-2{
    width: 30px;
    height: 30px; 
}
.nav-bar #monmenu{
    text-align: end;
}